@import 'tailwindcss';

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.woff2') format('woff2');
  font-weight: 400 700;
  font-display: swap;
}

@theme {
  --color-primary: #1ab8b8;
  --color-background: #000000;
  --color-text: #f2f2f2;
  --color-muted: #828280;

  --font-montserrat: 'Montserrat';
}